---
import { Image } from "astro:assets";
import ExternalLink from "@utils/ExternalLink.astro";
import gitHub from "@images/github.svg";

const currentYear = new Date().getFullYear();
---

<div class="wrapper">
  <p>hi I'm a timeline</p>
</div>

<style></style>
